argh==0.26.2
asgiref==3.2.3
astroid==2.3.3
colorama==0.4.3
csscompressor==0.9.5
Django==3.0.2
ginger==0.0.4
isort==4.3.21
Jinja2==2.10.3
jsmin==2.2.2
lazy-object-proxy==1.4.3
libsass==0.19.4
MarkupSafe==1.1.1
mccabe==0.6.1
pathtools==0.1.2
Pillow==7.0.0
pylint==2.4.4
pytz==2019.3
PyYAML==5.3
six==1.13.0
sqlparse==0.3.0
watchdog==0.9.0
wrapt==1.11.2
